PINATA_JWT=
PINATA_GATEWAY_HOST=
PINATA_GATEWAY_TOKEN=
SEPOLIA_RPC_URL=
SEPOLIA_PRIVATE_KEY=
NPMGUARD_BASE_DOMAIN=npmguard.eth
SGINSTALL_GATEWAY_HOST=
SGINSTALL_GATEWAY_TOKEN=
SGINSTALL_GATEWAYS=

# Optional overrides if you want to pin explicit ENS contract addresses.
ENS_REGISTRY_ADDRESS=0x00000000000C2E074eC69A0dFb2997BA6C7d2e1e
ENS_NAME_WRAPPER_ADDRESS=0x0635513f179D50A207757E05759CbD106d7dFcE8
ENS_PUBLIC_RESOLVER_ADDRESS=0xE99638b40E4Fff0129D56f03b55b6bbC4BBE49b5
